<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Digital Library - HOME</title>
    <link rel="stylesheet" href="../CSS/base.css">
    <link rel="stylesheet" href="../CSS/home.css?verion=1.0">
    <script src="/JS/icons.js"></script>
    <!-- ANIMEJS -->
    <script src="/js/anime.min.js"></script> 
</head>
<body>
    <!-- BASE PARTIALS -->
    <%- include('template-partials/base.ejs') %>
    <!-- MAIN-SECTION -->
    <div class="main-section">
        <!-- GRID CONTAINER -->
        <div class="grid-container">
            <div class="header">SELECT A TOPIC</div>
            <div class="main">
                <table>
                    <tr>
                        <td class="tags tag1" onmouseover="HoverTagOver('.span1','.click-span1')" onmouseout="HoverTagOut('.span1','.click-span1')" onclick="Topic()">
                            Blockchain <br><span class="span span1">10 Posts<br></span><span class="click-span click-span1">(Click Here)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="tags tag2" onmouseover="HoverTagOver('.span2','.click-span2')" onmouseout="HoverTagOut('.span2','.click-span2')" onclick="Topic()">
                            Machine Learning & Data Science <br><span class="span span2">10 Posts<br></span><span class="click-span click-span2">(Click Here)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="tags tag3" onmouseover="HoverTagOver('.span3','.click-span3')" onmouseout="HoverTagOut('.span3','.click-span3')" onclick="Topic()">
                            Blockchain <br><span class="span span3">10 Posts<br></span><span class="click-span click-span3">(Click Here)</span>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="tags tag4" onmouseover="HoverTagOver('.span4','.click-span4')" onmouseout="HoverTagOut('.span4','.click-span4')" onclick="Topic()">
                            Blockchain <br><span class="span span4">10 Posts<br></span><span class="click-span click-span4">(Click Here)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="tags tag5" onmouseover="HoverTagOver('.span5','.click-span5')" onmouseout="HoverTagOut('.span5','.click-span5')" onclick="Topic()">
                            Blockchain <br><span class="span span5">10 Posts<br></span><span class="click-span click-span5">(Click Here)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="tags tag6" onmouseover="HoverTagOver('.span6','.click-span6')" onmouseout="HoverTagOut('.span6','.click-span6')" onclick="Topic()">
                            Blockchain <br><span class="span span6">10 Posts<br></span><span class="click-span click-span6">(Click Here)</span>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="tags tag7" onmouseover="HoverTagOver('.span7','.click-span7')" onmouseout="HoverTagOut('.span7','.click-span7')" onclick="Topic()">
                            Blockchain <br><span class="span span7">10 Posts<br></span><span class="click-span click-span7">(Click Here)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="tags tag8" onmouseover="HoverTagOver('.span8','.click-span8')" onmouseout="HoverTagOut('.span8','.click-span8')" onclick="Topic()">
                            Blockchain <br><span class="span span8">10 Posts<br></span><span class="click-span click-span8">(Click Here)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="tags tag9" onmouseover="HoverTagOver('.span9','.click-span9')" onmouseout="HoverTagOut('.span9','.click-span9')" onclick="Topic()">
                            Blockchain <br><span class="span span9">10 Posts<br></span><span class="click-span click-span9">(Click Here)</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="footer">MADE BY <span>K A SAMARASIMHA REDDY</span> AND <span>AAYUSH SINGH</span></div>
        </div>
        <div class="bottomspace"></div>
    </div>
    <script>
    function HoverTagOver(spanA,spanB){
        // console.log(spanA)
        // console.log(spanB)
        anime({
            targets: spanA,
            fontSize: "24px",
            opacity:1,
            begin: BLOCK(spanA),
            duration:0
        });
        anime({
            targets: spanB,
            top:"20px",
            fontSize: "12px",
            opacity:1,
            begin: BLOCK(spanB),
            duration:0
        });
    }
    function HoverTagOut(spanA,spanB){
        anime({
            targets: spanA,
            fontSize: "12px",
            opacity:0,
            begin: NONE(spanA),
            duration:0,
            delay: anime.stagger(300, {easing: 'none'})
        });
        anime({
            targets: spanB,
            fontSize: "12px",
            opacity:0,
            begin: NONE(spanB),
            duration:0
        });
    }

    function BLOCK(span) {document.querySelector(span).style.display = 'block';}

    function NONE(span) {document.querySelector(span).style.display = 'none';}

    function CloseLightBox(){
        document.querySelector('.sign-lightpage').style.display = 'none';
        CloseAllBoxes()
    }

    function SignINLightBox(){
        OpenLightBox()
        CloseAllBoxes()
        document.querySelector('.signin-box').style.display = 'flex';
    }

    function SignUPLightBox(){
        OpenLightBox()
        CloseAllBoxes()
        document.querySelector('.signup-box').style.display = 'flex';
    }

    function Add_Post(){
        OpenLightBox()
        CloseAllBoxes()
        document.querySelector('.add-post-box').style.display = 'flex';
    }

    function Info(){
        OpenLightBox()
        CloseAllBoxes()
        document.querySelector('.info-box').style.display = 'flex';
    }

    function Edit(){
        OpenLightBox()
        CloseAllBoxes()
        document.querySelector('.edit-post-box').style.display = 'flex';
    }

    function Delete(){
        FORM = document.querySelector('delete-post-form');
        console.log("Delete")
    }

    function OpenLightBox(){
        document.querySelector('.sign-lightpage').style.display = 'flex';
    }

    function CloseAllBoxes(){
        document.querySelector('.signup-box').style.display = 'none';
        document.querySelector('.signin-box').style.display = 'none';
        document.querySelector('.info-box').style.display = 'none';
        document.querySelector('.add-post-box').style.display = 'none';
        document.querySelector('.edit-post-box').style.display = 'none';
        document.querySelector('.profile-box').style.display = 'none';
        document.querySelector('.profile-edit-box').style.display = 'none';
        document.querySelector('.tag-box').style.display = 'none';
    }

    function GoHome(){
        window.location.href = `http://localhost:4030/`
    }

    function Logout(){
        console.log("LOGOUT")
    }

    function Topic(){
        window.location.href = `http://localhost:4030/topic`
    }

    function Members(){
        window.location.href = `http://localhost:4030/members`
    }
    
    function Dashboard(){
        window.location.href = `http://localhost:4030/dashboard`
    }

    function Profile(){
        window.location.href = `http://localhost:4030/profile`
    }
    
    function Validator(){
        window.location.href = `http://localhost:4030/validatorpost`
    }

    </script>
</body>
</html>