<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Digital Library - Topics</title>
    <link rel="stylesheet" href="../CSS/base.css">
    <link rel="stylesheet" href="../CSS/validatorpost.css">
    <script src="/JS/icons.js"></script>
    <!-- ANIMEJS -->
    <script src="/js/anime.min.js"></script> 
</head>
<body>
    <!-- BASE PARTIALS -->
    <%- include('template-partials/base.ejs') %>
    <!-- MAIN-SECTION -->
    <div class="main-section">
        <!-- GRID CONTAINER -->
        <div class="grid-container">
            <div class="header">
                <span class="topic-title">New Post To Validate</span>
                <span class="post-count">Total Posts: <span> 3</span></span>
            </div>
            <div class="main">
                <table>
                    <tr>
                        <td class="tags">
                            <div class="grid-container-tags">
                                <div class="tag-type">
                                    <i class="fab fa-youtube iconfile"></i>
                                    <!-- <i class="fas fa-file-pdf iconfile"></i> -->
                                    <div class="type-name">Youtube</div>
                                </div>
                                <div class="tag-title">
                                    <div class="title-text">Machine Learning Sklearn</div>
                                    <div class="author-span">Mohammed Imran Mohsin</div>
                                </div>
                                <div class="tag-tags tag-icon" onclick="Tags()">
                                    <div class="type-name-iconfile">Tags</div>
                                    <i class="fas fa-tags iconfile"></i>
                                </div>
                                <div class="tag-desc tag-icon" onclick="Info()">
                                    <div class="type-name-iconfile">Info</div>
                                    <i class="fas fa-info-circle iconfile"></i>
                                </div>
                                <div class="tag-valid tag-icon">
                                    <div class="type-name-iconfile">Valid</div>
                                    <i class="fas fa-check iconfile"></i>
                                </div>
                                <div class="tag-reject tag-icon">
                                    <div class="type-name-iconfile">Reject</div>
                                    <i class="fas fa-times iconfile"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="header2">
                <span class="topic-title">Reported Post</span>
                <span class="post-count">Total Posts: <span> 3</span></span>
            </div>
            <div class="main2">
                <table>
                    <tr>
                        <td class="tags">
                            <div class="grid-container-tags">
                                <div class="tag-type">
                                    <i class="fab fa-youtube iconfile"></i>
                                    <!-- <i class="fas fa-file-pdf iconfile"></i> -->
                                    <div class="type-name">Youtube</div>
                                </div>
                                <div class="tag-title">
                                    <div class="title-text">Machine Learning Sklearn</div>
                                    <div class="author-span">Mohammed Imran Mohsin</div>
                                </div>
                                <div class="tag-tags tag-icon" onclick="Tags()">
                                    <div class="type-name-iconfile">Tags</div>
                                    <i class="fas fa-tags iconfile"></i>
                                </div>
                                <div class="tag-desc tag-icon" onclick="Info()">
                                    <div class="type-name-iconfile">Info</div>
                                    <i class="fas fa-info-circle iconfile"></i>
                                </div>
                                <div class="tag-report-cancel tag-icon">
                                    <div class="type-name-iconfile">Cancel</div>
                                    <i class="fas fa-times-circle iconfile"></i>
                                </div>
                                <div class="tag-delete tag-icon">
                                    <div class="type-name-iconfile">Delete</div>
                                    <i class="fas fa-trash-alt iconfile"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="footer">MADE BY <span>K A SAMARASIMHA REDDY</span> AND <span>AAYUSH SINGH</span></div>
        </div>
        <div class="bottomspace"></div>
    </div>
    <script>

    function BLOCK(span) {document.querySelector(span).style.display = 'flex';}
    function NONE(span) {document.querySelector(span).style.display = 'none';}

    function CloseLightBox(){
        document.querySelector('.sign-lightpage').style.display = 'none';
        CloseAllBoxes()
    }

    function SignINLightBox(){
        OpenLightBox()
        CloseAllBoxes()
        document.querySelector('.signin-box').style.display = 'flex';
    }

    function SignUPLightBox(){
        OpenLightBox()
        CloseAllBoxes()
        document.querySelector('.signup-box').style.display = 'flex';
    }

    function Add_Post(){
        OpenLightBox()
        CloseAllBoxes()
        document.querySelector('.add-post-box').style.display = 'flex';
    }

    function Info(){
        OpenLightBox()
        CloseAllBoxes()
        document.querySelector('.info-box').style.display = 'flex';
    }

    function Edit(){
        OpenLightBox()
        CloseAllBoxes()
        document.querySelector('.edit-post-box').style.display = 'flex';
    }

    function Tags(){
        OpenLightBox()
        CloseAllBoxes()
        document.querySelector('.tag-box').style.display = 'block';
    }

    function ProfileView(){
        OpenLightBox()
        CloseAllBoxes()
        document.querySelector('.profile-box').style.display = 'flex';
    }

    function Delete(){
        FORM = document.querySelector('delete-post-form');
        console.log("Delete")
    }

    function OpenLightBox(){
        document.querySelector('.sign-lightpage').style.display = 'flex';
    }

    function CloseAllBoxes(){
        document.querySelector('.signup-box').style.display = 'none';
        document.querySelector('.signin-box').style.display = 'none';
        document.querySelector('.info-box').style.display = 'none';
        document.querySelector('.add-post-box').style.display = 'none';
        document.querySelector('.edit-post-box').style.display = 'none';
        document.querySelector('.tag-box').style.display = 'none';
        document.querySelector('.profile-box').style.display = 'none';
    }

    function GoHome(){
        window.location.href = `http://localhost:4030/`
    }

    function Logout(){
        console.log("LOGOUT")
    }

    function Members(){
        window.location.href = `http://localhost:4030/members`
    }
    
    function Dashboard(){
        window.location.href = `http://localhost:4030/dashboard`
    }

    function Profile(){
        window.location.href = `http://localhost:4030/profile`
    }

    function Validator(){
        window.location.href = `http://localhost:4030/validatorpost`
    }

    </script>
</body>
</html>