<div class="mobile-view">
    <i class="fas fa-desktop desktop"></i>
    <h1 class="no-phone-title">This Website works on <span class="no-phone-title-span">Desktop Screen</span> Size <span class="no-phone-title-span">480x1000 or Higher</span> Only</h1>
</div>
