
    <!-- INFO BOX -->
    <div class="info-box">
        <div class="info-box-top">
            <div class="info-type">
                <i class="fab fa-youtube icontype"></i>
                <div class="info-type-text">
                    Youtube
                </div>
            </div>
            <div class="info-header">
                Machine Learning Sklearn Blockchain Data Science Internet of Things
            </div>
        </div>
        <div class="info-author">
            <i>Mohammed Imran Mohsin</i>
        </div>
        <div class="info-desc">
            <i>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </i>
            <div class="click-link-below">Click Link Below</div>
        </div>
        <div class="info-box-bottom">
            <div class="info-link">
                <div class="link-text-iconbutton">Link</div>
                <i class="fas fa-link iconbutton"></i>
            </div>
            <div class="info-report">
                <div class="report-text-iconbutton">Report</div>
                <i class="fas fa-flag iconbutton"></i>
            </div>
        </div>
    </div>

    <!-- ADD POST BOX -->
    <div class="add-post-box">
        <p class="add-post-header">Add Post</p>
        <form class="form-class" action="addpost" method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title" class="input-bar" required value="Google Website">
            <label for="type">Type:</label>
                <div class="add-post-options">
                    <div class="add-post-option1">
                        <label for="youtube">
                            <input type="radio" id="youtube" name="type" value="YOUTUBE" required checked>Youtube
                        </label>
                    </div>
                    <div class="add-post-option2">
                        <label for="pdf">
                            <input type="radio" id="pdf" name="type" value="PDF">
                            PDF
                        </label>
                    </div>
                    <div class="add-post-option3">
                        <label for="article">
                            <input type="radio" id="article" name="type" value="ARTICLE" required>
                            Article
                        </label>
                    </div>
                    <div class="add-post-option4">
                        <label for="image">
                            <input type="radio" id="image" name="type" value="IMAGE">
                            Image
                        </label>
                    </div>
                </div>
            <label for="link">Link:</label>
            <input type="url" name="link" class="input-bar" required value="www.google.com">
            <label for="desc">Description:</label>
            <textarea type="text" name="desc" id="textarea-desc" class="textarea-desc" required>Description of www.google.com</textarea>
            <label for="tags">Tags:</label>
            <textarea type="text" name="tags" id="textarea-tags-add" class="textarea-tags" required placeholder="Enter max 5 tags use `,` to seperate each tag" >Documents, Websites
            </textarea>
            <div class="form-class-buttons">
                <button type="submit" class="addpost">Post</button>
                <button type="button" class="cancel" onclick="CloseLightBox()">Close</button>
            </div>
        </form>
    </div>

    <!-- EDIT POST BOX -->
    <div class="edit-post-box">
        <p class="edit-post-header">Edit Post</p>
        <form class="form-class" action="" method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title" class="input-bar" required value="Machine Learning Sklearn Blockchain Data Science Internet of Things">
            <label for="type">Type:</label>
                <div class="edit-post-options">
                    <div class="edit-post-option1">
                        <label for="youtube">
                            <input type="radio" id="youtube" name="type" value="youtube" required checked>Youtube
                        </label>
                    </div>
                    <div class="edit-post-option2">
                        <label for="pdf">
                            <input type="radio" id="pdf" name="type" value="PDF">
                            PDF
                        </label>
                    </div>
                    <div class="edit-post-option3">
                        <label for="article">
                            <input type="radio" id="article" name="type" value="ARTICLE" required>
                            Article
                        </label>
                    </div>
                    <div class="edit-post-option4">
                        <label for="image">
                            <input type="radio" id="image" name="type" value="IMAGE">
                            Image
                        </label>
                    </div>
                </div>
            <label for="link">Link:</label>
            <input type="url" name="link" class="input-bar" value="https://covid19-tracker-js.mims12341.repl.co/" required>
            <label for="desc">Description:</label>
            <textarea type="text" name="desc" class="textarea-desc" required> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</textarea>
            <label for="tags">Tags:</label>
            <textarea type="text" name="tags" id="textarea-tags-edit" class="textarea-tags" required placeholder="Enter max 5 tags use `,` to seperate each tag" onblur="GetString123()"></textarea>
            <div class="form-class-buttons">
                <button type="submit" class="editpost">Edit Post</button>
                <button type="button" class="cancel" onclick="CloseLightBox()">Close</button>
            </div>
        </form>
    </div>

    <!-- TAG BOX -->
    <div class="tag-box">
        <p class="tag-header">Tags</p>
        <span class="input-tag">Blockchain</span>
        <span class="input-tag">Machine Learning</span>
        <span class="input-tag">Data Science</span>
        <span class="input-tag">IOT</span>
        <span class="input-tag">Blockchain</span>
        <span class="input-tag">Machine Learning</span>
        <span class="input-tag">Data Science</span>
        <span class="input-tag">IOT</span>
        <span class="input-tag">Blockchain</span>
        <span class="input-tag">Machine Learning</span>
        <span class="input-tag">Data Science</span>
        <span class="input-tag">IOT</span>
        <span class="input-tag">Blockchain</span>
        <span class="input-tag">Machine Learning</span>
        <span class="input-tag">Data Science</span>
        <span class="input-tag">IOT</span>
        <span class="input-tag">Blockchain</span>
        <span class="input-tag">Machine Learning</span>
        <span class="input-tag">Data Science</span>
        <span class="input-tag">IOT</span>
        <button type="button" class="cancel" onclick="CloseLightBox()">Close</button>
        </form>
    </div>

    <!-- PROFILE BOX -->
    <div class="profile-box">
        <p class="profile-header">Profile</p>
        <div class="main-profile">
            <table>
                <tr>
                    <td class="tags">
                        <div class="grid-container-tags">
                            <div class="tag-title">
                                <div class="author-span">First Name</div>
                                <div class="title-text">Mohammed</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tags">
                        <div class="grid-container-tags">
                            <div class="tag-title">
                                <div class="author-span">Last Name</div>
                                <div class="title-text">Imran Mohsin</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tags">
                        <div class="grid-container-tags">
                            <div class="tag-title">
                                <div class="author-span">Email</div>
                                <div class="title-text">mims@gmail.com</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tags">
                        <div class="grid-container-tags">
                            <div class="tag-title">
                                <div class="author-span">Username</div>
                                <div class="title-text">mims</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="cancel" onclick="CloseLightBox()">Close</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>